.container {
    height: 300px;
    width: 40%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 60px;
    padding: 20px;
}

.box1 {
    background-color: teal;
    height: 100px;
}

.box2 {
    background-color: white;
    border-style: solid;
    border-color:gray;
    border-top: none;
    height: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: black;
    padding: 20px
}

#usercircle {
    height: 100px;
    width: 100px; 
    border-style: solid;
    border-color: gray;
    border-radius: 55px;
    background: white;
    padding: 2px;
    position: absolute;
    top: 115px;
}

#marker {
    height: 20px;
    width: 15px;
}

#gear {
    height: 20px;
    width: 20px;
}

h4 {
    line-height: .1em;
}

/* 
.box {
    border-style: solid;
    border-color: gray;
    background-color: white;
    border-top: 100px solid teal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: black;
    height: 200px; 
    width: 70%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 60px;
    padding: 20px; this is first try 
    */